.cc-bar{
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	overflow:hidden;
	padding:10px;
	background:#222;
	color:#fff;
	font-size:17px;
	box-sizing:border-box;
}

.cc-bar ::-moz-selection{
	background:#ff5e99;
	color:#fff;
	text-shadow:none;
}

.cc-bar .cc-btn{
	cursor:pointer;
	text-align:center;
	font-size:0.6em;
	transition:font-size 200ms;
	line-height:1em;
	z-index:2000;
	padding:8px 10px;
	background-color:#f1d600;
	cursor:pointer;
	transition:font-size 200ms;
	text-align:center;
	display:block;
	width:33%;
	margin-left:10px;
	float:right;
	max-width:120px
}

.cc-bar .cc-msg{
	font-size:0.6em;
	transition:font-size 200ms;
	margin:0;
	padding:0;
	line-height:1.5em;
	display:block
}

@media screen and (min-width: 500px){
	.cc-bar .cc-btn{
		font-size:0.8em
	}

	.cc-bar .cc-msg{
		font-size:0.8em
	}
}

@media screen and (min-width: 768px){
	.cc-bar .cc-btn{
		font-size:1em
	}

	.cc-bar .cc-msg{
		font-size:1em;
		line-height:1em
	}
}

@media screen and (min-width: 992px){
	.cc-bar .cc-msg{
		font-size:1em
	}

}

@media print{
	.cc-bar{
		display:none
	}
}

@media screen and (min-width: 500px){
	.cc-bar .cc-btn{
		font-size:0.8em
	}

	.cc-bar .cc-msg{
		margin-top:0.5em;
		font-size:0.8em
	}
}

@media screen and (min-width: 768px){
	.cc-bar{
		padding:15px 30px 15px
	}

	.cc-bar .cc-btn{
		font-size:1em;
		padding:8px 15px
	}

	.cc-bar .cc-msg{
		font-size:1em
	}
}

@media screen and (min-width: 992px){
	.cc-bar .cc-msg{
		font-size:1em
	}
}

.cc-bar .cc-btn,.cc-bar .cc-btn:visited{
	color:#000;
	background-color:#f1d600;
	transition:background 200ms ease-in-out,color 200ms ease-in-out,box-shadow 200ms ease-in-out;
	-webkit-transition:background 200ms ease-in-out,color 200ms ease-in-out,box-shadow 200ms ease-in-out;
	border-radius:5px;
	-webkit-border-radius:5px
}

.cc-bar .cc-btn:hover,.cc-bar .cc-btn:active{
	background-color:#fff;
	color:#000
}

.cc-bar a,.cc-bar a:visited{
	text-decoration:none;
	color:#31a8f0;
	transition:200ms color
}

.cc-bar a:hover,.cc-bar a:active{
	color:#b2f7ff
}

@-webkit-keyframes slideUp{
	0%{
		-webkit-transform:translateY(66px);
		transform:translateY(66px)
	}

	100%{
		-webkit-transform:translateY(0);
		transform:translateY(0)
	}

}

@keyframes slideUp{
	0%{
		-webkit-transform:translateY(66px);
		-ms-transform:translateY(66px);
		transform:translateY(66px)
	}

	100%{
		-webkit-transform:translateY(0);
		-ms-transform:translateY(0);
		transform:translateY(0)
	}

}

.cc-bar,.cc-msg,.cc-btn{
	animation-duration:0.8s;
	-webkit-animation-duration:0.8s;
	-moz-animation-duration:0.8s;
	-o-animation-duration:0.8s;
	-webkit-animation-name:slideUp;
	animation-name:slideUp
}
